# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Logs
*.log

# Node
node_modules/

# Electron build output
dist/

# Database local
database/

# Executáveis e build artifacts
*.exe
*.blockmap
*.dmg
*.AppImage
builder-debug.yml
builder-effective-config.yaml